<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Debug</key>
			<false/>
			<key>DropOEM_DSM</key>
			<false/>
			<key>Fixes</key>
			<dict>
				<key>FIX_RTC_20000</key>
				<true/>
				<key>FIX_TMR_40000</key>
				<true/>
				<key>FixHPET_0010</key>
				<true/>
				<key>FixIPIC_0040</key>
				<true/>
				<key>NewWay_80000000</key>
				<true/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>change APSS to APXX</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					QVBTUw==
					</data>
					<key>Replace</key>
					<data>
					QVBYWA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _DSM to XDSM</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X0RTTQ==
					</data>
					<key>Replace</key>
					<data>
					WERTTQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _OSI to XOSI, pair with SSDT-XOSI.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X09TSQ==
					</data>
					<key>Replace</key>
					<data>
					WE9TSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EHC1 to EH01, optionally pair with SSDT-EH01.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUhDMQ==
					</data>
					<key>Replace</key>
					<data>
					RUgwMQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EHC2 to EH02, optionally pair with SSDT-EH02.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUhDMg==
					</data>
					<key>Replace</key>
					<data>
					RUgwMg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EUSB to EH01, optionally pair with SSDT-EH01.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RVVTQg==
					</data>
					<key>Replace</key>
					<data>
					RUgwMQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change USBE to EH02, optionally pair with SSDT-EH02.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					VVNCRQ==
					</data>
					<key>Replace</key>
					<data>
					RUgwMg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change GFX0 to IGPU, optionally pair with SSDT-IGPU.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R0ZYMA==
					</data>
					<key>Replace</key>
					<data>
					SUdQVQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change B0D3 to HDAU, optionally pair with SSDT-HDAU.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					QjBEMw==
					</data>
					<key>Replace</key>
					<data>
					SERBVQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change HDAS to HDEF, optionally pair with SSDT-HDEF.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					SERBUw==
					</data>
					<key>Replace</key>
					<data>
					SERFRg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change AZAL to HDEF, optionally pair with SSDT-HDEF.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					QVpBTA==
					</data>
					<key>Replace</key>
					<data>
					SERFRg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change HECI to IMEI, optionally pair with SSDT-IMEI.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					SEVDSQ==
					</data>
					<key>Replace</key>
					<data>
					SU1FSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change MEI to IMEI, optionally pair with SSDT-IMEI.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					TUVJXw==
					</data>
					<key>Replace</key>
					<data>
					SU1FSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change SAT0 to SATA, optionally pair with SSDT-SATA.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U0FUMA==
					</data>
					<key>Replace</key>
					<data>
					U0FUQQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change LPC to LPCB, optionally pair with SSDT-EHCI_Disable.aml, SSDT-LPC.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					TFBDXw==
					</data>
					<key>Replace</key>
					<data>
					TFBDQg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_PTS,1,N) to ZPTS, pair with SSDT-PTSWAK.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1BUUwE=
					</data>
					<key>Replace</key>
					<data>
					WlBUUwE=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_PTS,1,S) to ZPTS, pair with SSDT-PTSWAK.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1BUUwk=
					</data>
					<key>Replace</key>
					<data>
					WlBUUwk=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_WAK,1,N) to ZWAK, pair with SSDT-PTSWAK.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1dBSwE=
					</data>
					<key>Replace</key>
					<data>
					WldBSwE=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_WAK,1,S) to ZWAK, pair with SSDT-PTSWAK.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1dBSwk=
					</data>
					<key>Replace</key>
					<data>
					WldBSwk=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(XWAK,0,N) to ZWAK, pair with SSDT-XWAK.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					WFdBSwA=
					</data>
					<key>Replace</key>
					<data>
					WldBSwA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(XWAK,0,S) to ZWAK, pair with SSDT-XWAK.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					WFdBSwg=
					</data>
					<key>Replace</key>
					<data>
					WldBSwg=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(XSEL,0,N) to XSEZ, pair with SSDT-XSEL.aml</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					WFNFTAA=
					</data>
					<key>Replace</key>
					<data>
					WFNFWgA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(XSEL,0,S) to XSEZ, pair with SSDT-XSEL.aml</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					WFNFTAg=
					</data>
					<key>Replace</key>
					<data>
					WFNFWgg=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(ESEL,0,N) to ESEZ, pair with SSDT-ESEL.aml</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					RVNFTAA=
					</data>
					<key>Replace</key>
					<data>
					RVNFWgA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(ESEL,0,S) to ESEZ, pair with SSDT-ESEL.aml</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					RVNFTAg=
					</data>
					<key>Replace</key>
					<data>
					RVNFWgg=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(GPRW,2,N) to XPRW, pair with SSDT-PRW.aml</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					R1BSVwI=
					</data>
					<key>Replace</key>
					<data>
					WFBSVwI=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(UPRW,2,..) to Method(XPRW,2,..), pair with SSDT-PRW.aml</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					VVBSVwpwEg==
					</data>
					<key>Replace</key>
					<data>
					WFBSVwpwEg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change LANC Method(_PRW,0,S) to Method(XPRW,0,..), pair with SSDT-LANC_PRW.aml</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					AAAZABQfX1BSVwg=
					</data>
					<key>Replace</key>
					<data>
					AAAZABQfWFBSVwg=
					</data>
				</dict>
			</array>
			<key>ReuseFFFF</key>
			<false/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
		</array>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<false/>
			<key>PluginType</key>
			<string>1</string>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>slide=0 dart=0 -xcpm nv_disable=1 kext-dev-mode=1</string>
		<key>Debug</key>
		<false/>
		<key>Legacy</key>
		<string>LegacyBiosDefault</string>
		<key>NeverHibernate</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
		<key>XMPDetection</key>
		<string>Yes</string>
	</dict>
	<key>CPU</key>
	<dict>
		<key>UseARTFrequency</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<true/>
			<key>Inject</key>
			<false/>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Mouse</key>
		<dict>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Enabled</key>
			<false/>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>8</integer>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<false/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>Theme</key>
		<string>embedded</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<false/>
		<key>NvidiaSingle</key>
		<false/>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>AsusAICPUPM</key>
		<false/>
		<key>Debug</key>
		<false/>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>KernelCpu</key>
		<false/>
		<key>KernelHaswellE</key>
		<false/>
		<key>KernelLapic</key>
		<false/>
		<key>KernelPm</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				g72M/v//EA==
				</data>
				<key>MatchOS</key>
				<string>10.11.x</string>
				<key>Name</key>
				<string>AppleUSBXHCIPCI</string>
				<key>Replace</key>
				<data>
				g72M/v//Hw==
				</data>
			</dict>
			<dict>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				g710////EA==
				</data>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>AppleUSBXHCIPCI</string>
				<key>Replace</key>
				<data>
				g710////Hw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.10.2+ 5Ghz US FCC, the-darkvoid</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				QYP8/3QsSA==
				</data>
				<key>MatchOS</key>
				<string>10.10.x,10.11.x,10.12.x</string>
				<key>Name</key>
				<string>com.apple.driver.AirPort.Brcm4360</string>
				<key>Replace</key>
				<data>
				ZscGVVPrKw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AirPortBrcm4360 whitelist patch (board-id), 10.10.5, credit RehabMan</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				MdtJiwQkSDtF2HUS
				</data>
				<key>MatchOS</key>
				<string>10.10.5</string>
				<key>Name</key>
				<string>com.apple.driver.AirPort.Brcm4360</string>
				<key>Replace</key>
				<data>
				Mdv/w5CQkJCQkJCQ
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AirPortBrcm4360 - fcvo, 10.12.x (credit the-darkvoid)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				gflSqgAAdSk=
				</data>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>com.apple.driver.AirPort.Brcm4360</string>
				<key>Replace</key>
				<data>
				gflSqgAAZpA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AirPortBrcm4360 whitelist patch (board-id), 10.12.dp1, credit RehabMan</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				MdtMO33YdRI=
				</data>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>com.apple.driver.AirPort.Brcm4360</string>
				<key>Replace</key>
				<data>
				Mdv/w5CQkJA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AirPortBrcm4360 whitelist patch (board-id), 10.11.x, credit RehabMan</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				MdtMO2XYdRI=
				</data>
				<key>MatchOS</key>
				<string>10.11.x</string>
				<key>Name</key>
				<string>com.apple.driver.AirPort.Brcm4360</string>
				<key>Replace</key>
				<data>
				Mdv/w5CQkJA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.9.5 5Ghz US FCC, svko</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				WFQAIBcnIAAA
				</data>
				<key>MatchOS</key>
				<string>10.9.5</string>
				<key>Name</key>
				<string>com.apple.driver.AirPort.Brcm4360</string>
				<key>Replace</key>
				<data>
				WFQAG2cxlQAJ
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0204, 0x16060002 0x16060002 0x16160002 0x16260002 0x16220002 0x162b0002 0x162b0004 0x16260004 0x16220007 0x162b0008 0x16260008</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AgQJAAAEAAAHBQAA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AgQJAAAIAACCAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0105, 0x16060002 0x16060002 0x16160002 0x16260002 0x16220002 0x162b0002 0x162b0004 0x16260004 0x16220007 0x162b0008 0x16260008</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AQUJAAAEAAAHBQAA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AQUJAAAIAACCAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0204, 0x16120003 0x16120005 0x16120006</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AgQLAAAEAAAHBQAA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AgQLAAAIAACCAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0105, 0x16060000 0x160e0000 0x16160000 0x161e0000 0x16260000 0x162b0000 0x16220000</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AQUJAAQAAAAEAAAA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AQUJAAAIAACCAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable minStolenSize less or equal fStolenMemorySize assertion, 10.10.x (based on Austere.J patch)</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				Oc92PA==
				</data>
				<key>MatchOS</key>
				<string>10.10.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				Oc/rPA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0204, 0x16060000 0x160e0000 0x16160000 0x161e0000 0x16260000 0x162b0000 0x16220000</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AgQJAAAIAACCAAAA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AgQJAAAIAACCAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0306, 0x16220007</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AwYIAAAEAAARAAAA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AwYIAAAIAACCAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0105, 0x16120003 0x16120005 0x16120006</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AQULAAAEAAAHBQAA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AQULAAAIAACCAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0105, 0x160e0001 0x161e0001</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AQUJAAAEAAABEAAA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AQUJAAAIAACCAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable minStolenSize less or equal fStolenMemorySize assertion, 10.11.beta ( (based on Austere.J patch)</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				QTnEdj4=
				</data>
				<key>MatchOS</key>
				<string>10.11.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				QTnE6z4=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable minStolenSize less or equal fStolenMemorySize assertion, 10.12.0 ( (based on Austere.J patch)</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				iUXIOcd2Tw==
				</data>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				iUXIOcfrTw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0204(12), 0x0a2e0008, 0x0a16000c, 0x0a2e000d, 0x0a26000d</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AgQJAAAEAAAHAQAA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>
				AgQSAAAIAAAHAQAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable 128MB DVMT-prealloc, 48MB framebuffer, 48MB cursor bytes, 0x0a260006</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				BgAmCgEDAwMAAAACAAAwAQAAYAA=
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>
				BgAmCgEDAwMAAAAIAAAAAwAAAAM=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0105, 0x0a2e0008, 0x0a16000c, 0x0a2e000d, 0x0a26000d</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				AQUJAAAEAAAHAQAA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>
				AQUJAAAIAAAHAQAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable 9MB cursor bytes, 0x0a260006</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				BgAmCgEDAwMAAAACAAAwAQAAYAA=
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>
				BgAmCgEDAwMAAAACAAAwAQAAkAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0105(12), 0x0a260005 0x0a260006, 0x0d220003, 0x0a2e000a, 0x0a26000a</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AQUJAAAEAACHAAAA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>
				AQUSAAAIAACHAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable 128MB DVMT-prealloc, 0x0a2e0008</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				CAAuCgEDAwMAAAAE
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>
				CAAuCgEDAwMAAAAI
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable internal display after sleep for 0x0a2e000a, 0x0a26000a</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				AQAAAEAAAADWAAAABQUAAA==
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>
				AQAAAEAAAAAeAAAABQUAAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0204, 0x0a260005 0x0a260006</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				AgQJAAAEAACHAAAA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>
				AgQJAAAIAACHAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0204(12), 0x0a260005 0x0a260006</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AgQJAAAEAACHAAAA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>
				AgQSAAAIAACHAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0105(12), 0x0a2e0008, 0x0a16000c, 0x0a2e000d, 0x0a26000d</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AQUJAAAEAAAHAQAA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>
				AQUSAAAIAAAHAQAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0105, 0x0a260005 0x0a260006, 0x0d220003, 0x0a2e000a, 0x0a26000a</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				AQUJAAAEAACHAAAA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>
				AQUJAAAIAACHAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0204, 0x0a2e0008, 0x0a16000c, 0x0a2e000d, 0x0a26000d</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				AgQJAAAEAAAHAQAA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>
				AgQJAAAIAAAHAQAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable 96MB DVMT-prealloc, 0x0a2e0008</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				CAAuCgEDAwMAAAAE
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>
				CAAuCgEDAwMAAAAG
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio HD4000 0x01660003, port 0304</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AwQAAAAEAACBAAAA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferCapri</string>
				<key>Replace</key>
				<data>
				AwQAAAAIAAAGAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio HD4000 0x01660003, port 0406</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				BAYAAAAEAACBAAAA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferCapri</string>
				<key>Replace</key>
				<data>
				BAYAAAAIAAAGAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-video, 64MB BIOS, HD4000 0x01660004 #1 of 2</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				BABmAQEDAQEAAAAC
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferCapri</string>
				<key>Replace</key>
				<data>
				BABmAQECBAIAAAAE
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-video, 64MB BIOS, HD4000 0x01660004 #2 of 2</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				MAIAAAAAAAABAAAAQAAAAAAAAAABAAAAQAAAAAAAAAAB
				AAAAQAAAAAAAAAAAAAAA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferCapri</string>
				<key>Replace</key>
				<data>
				MAIAAAIFAAAABAAABwQAAAMEAAAABAAAgQAAAAQGAAAA
				BAAAgQAAAAAAAAAAAgAR
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio HD4000 0x01660003, port 0205</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AgUAAAAEAAAHBAAA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferCapri</string>
				<key>Replace</key>
				<data>
				AgUAAAAIAAAGAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable minStolenSize less or equal fStolenMemorySize assertion, 10.11.4 ( (based on Austere.J patch)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				QTnEdio=
				</data>
				<key>MatchOS</key>
				<string>10.11.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelSKLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				QTnE6yo=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable minStolenSize less or equal fStolenMemorySize assertion, 10.12.0 ( (based on Austere.J patch)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				iUXIOcZ2UQ==
				</data>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelSKLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				iUXIOcbrUQ==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio HD3000, 0x00010000, port 0304</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AwQAAAAEAAAJAAAA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelSNBGraphicsFB</string>
				<key>Replace</key>
				<data>
				AwQAAAAIAAAJAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio HD3000, 0x00010000, port 0406</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				BAYAAAAEAAAJAAAA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelSNBGraphicsFB</string>
				<key>Replace</key>
				<data>
				BAYAAAAIAAAJAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio HD3000, 0x00010000, port 0205</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AgUAAAAEAAAHAAAA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelSNBGraphicsFB</string>
				<key>Replace</key>
				<data>
				AgUAAAAIAAAHAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio/VGA(0602) HD3000, 0x00010000, port 0406</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				AQIEABAHAAAQBwAABQMAAAIAAAAwAAAAAgUAAAAEAAAH
				AAAAAwQAAAAEAAAJAAAABAYAAAAEAAAJAAAA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelSNBGraphicsFB</string>
				<key>Replace</key>
				<data>
				AQIDABAHAAAQBwAABgIAAAABAAAJAAAABQMAAAIAAAAw
				AAAABAYAAAAIAAAJAAAAAAAAAAAAAAAAAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable XHCI 1.0 check, 10.9.* (credit Zenith432)</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				Zj0AAQ==
				</data>
				<key>MatchOS</key>
				<string>10.9.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				Zj0AAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable Intel, Fresco Logic USB3.0 controllers check, 10.10.* (credit Zenith432)</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				9oDUAAAAgHU0
				</data>
				<key>MatchOS</key>
				<string>10.10.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				9oDUAAAAgOs0
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable PCI power management if there is no such code in DSDT, 10.9.*, 10.10.* (credit Zenith432)</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				dU1Ii7voAQAA
				</data>
				<key>MatchOS</key>
				<string>10.9.x,10.10.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				601Ii7voAQAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable the sleep code leaving the controller in non-working state after wake, 10.9.*, 10.10.* (credit Zenith432)</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				xoDIAAAAAQ==
				</data>
				<key>MatchOS</key>
				<string>10.9.x,10.10.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				xoDIAAAAAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable XHCI 1.0 check, 10.10.* (credit Zenith432)</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				QbzHAgDgPQABAAA=
				</data>
				<key>MatchOS</key>
				<string>10.10.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				QbzHAgDgPQAAAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Patch MSI or pin interrupts #2, 10.10.* (credit Zenith432)</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				gUkIAABAAA==
				</data>
				<key>MatchOS</key>
				<string>10.9.x,10.10.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				gUkIAAAAAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable Intel, Fresco Logic USB3.0 controllers check, 10.9.* (credit Zenith432)</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				9oDUAAAAgHU6
				</data>
				<key>MatchOS</key>
				<string>10.9.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				9oDUAAAAgOs6
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Patch MSI or pin interrupts #1, 10.9.*, 10.10.* (credit Zenith432)</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				QcdHCAAAQAA=
				</data>
				<key>MatchOS</key>
				<string>10.9.x,10.10.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				QcdHCAAAAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable TRIM for SSD</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AEFQUExFIFNTRAA=
				</data>
				<key>Name</key>
				<string>com.apple.iokit.IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>
				AAAAAAAAAAAAAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.10.2+ BT4LE-Handoff-Hotspot, Dokterdok</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				SIXAdFwPt0g=
				</data>
				<key>MatchOS</key>
				<string>10.10.x</string>
				<key>Name</key>
				<string>com.apple.iokit.IOBluetoothFamily</string>
				<key>Replace</key>
				<data>
				Qb4PAAAA61k=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.11.dp1+ BT4LE-Handoff-Hotspot, credit RehabMan based on Dokterdok original</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				SIX/dEdIiwc=
				</data>
				<key>MatchOS</key>
				<string>10.11.x,10.12.x</string>
				<key>Name</key>
				<string>com.apple.iokit.IOBluetoothFamily</string>
				<key>Replace</key>
				<data>
				Qb4PAAAA60Q=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Boot graphics glitch, 10.12.dp1 (credit denskop)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AQAAdSU=
				</data>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>com.apple.iokit.IOGraphicsFamily</string>
				<key>Replace</key>
				<data>
				AQAA6yU=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Boot graphics glitch, 10.10.x/10.11.x (credit lisai9093, cecekpawon)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AQAAdRc=
				</data>
				<key>MatchOS</key>
				<string>10.10.x,10.11.x</string>
				<key>Name</key>
				<string>com.apple.iokit.IOGraphicsFamily</string>
				<key>Replace</key>
				<data>
				AQAA6xc=
				</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>12/22/2016</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBP111.88Z.0138.B21.1612221936</string>
		<key>Board-ID</key>
		<string>Mac-189A3D4F975D5FFC</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x08</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<true/>
		<key>ProductName</key>
		<string>MacBookPro11,1</string>
		<key>SerialNumber</key>
		<string>C02KP8KNFGYY</string>
		<key>Trust</key>
		<true/>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
</dict>
</plist>
